modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
MEGAPAY_API_KEY = "MGPYxV1FsZKn"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_DZ1uV5LHwlPe@ep-round-math-a9pfnsqv-pooler.gwc.azure.neon.tech/neondb?sslmode=require&channel_binding=require"
